<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Cloud Archive Application</title>
        <link rel="stylesheet" href="{% static 'bootswatch/paper/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'angular-filemanager/dist/angular-filemanager.min.css' %}" />
        {% block static_block %}
        {% endblock %}
    </head>
    <body>
        {% block body_block %}
        {% endblock %}
    </body>
</html>
