{% extends 'base.html' %}
{% load static %}


{% block static_block %}
    <link rel="stylesheet" href="{% static 'css/file-manager.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}" />
{% endblock %}


{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Last chance...</h4>
                <form action="" method="POST">
                    <div class="form-group">
                        Clicking "Delete" will permanently delete your account.
                    </div>
                    <div class="form-group">
                        <a class="btn btn-secondary" href="{% url 'storage:file-manager' %}">Cancel</a>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
