{% extends 'base.html' %}
{% load static %}


{% block static_block %}
    <link rel="stylesheet" href="{% static 'css/file-manager.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}" />
{% endblock %}


{% block body_block %}
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" href="{% url 'storage:file-manager' %}">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> GO BACK
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'users:logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT
                    </a>
                </li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Change First/Last name</h4>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="id_first_name">First name:</label>
                        {{ form.first_name }}
                   </div>
                    <div class="form-group">
                        <label for="id_first_name">Last name:</label>
                        {{ form.last_name }}
                   </div>
                    <div>
                        <button class="btn" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Change password</h4>
                <form action="" method="POST">
                    <input type="hidden" name="password-form" />
                    <div class="form-group">
                        {{ password_form.old_password.errors }}
                        <label for="id_first_name">Old password:</label>
                        {{ password_form.old_password }}
                   </div>
                    {{ password_form.new_password1.errors }}
                    {{ password_form.new_password2.errors }}
                    <div class="form-group">
                        <label for="id_first_name">New password:</label>
                        {{ password_form.new_password1 }}
                   </div>
                    <div class="form-group">
                        <label for="id_first_name">Confirm password:</label>
                        {{ password_form.new_password2 }}
                   </div>
                    <div>
                        <button class="btn" type="submit">
                            Change password
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Statistics</h4>
                <p>
                    Email: {{ email }}
                </p>
                <p>
                    Date joined: {{ joined }}
                </p>
                <p>
                    Total number of folders: {{ folders_num }}
                </p>
                <p>
                    Total number of files: {{ files_num }}
                </p>
                <a class="btn btn-danger" href="{% url 'users:delete-profile' %}">Delete profile</a>

            </div>
        </div>
    </div>
{% endblock %}