{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <h3>
        Invalid email token!
    </h3>
    <p class="error">
        Please click the link in the latest email you were sent.
    </p>
</div>
{% endblock %}
