{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <h3>
        Please verify your email before using Cloud Archive.
    </h3>
    <p class="message">
        Email not sent? Click on the button below to re-send verification email.
    </p>
    <form action="{% url 'users:verification-checkpoint' %}" method="POST">
        {% csrf_token %}
        <button class="btn" type="submit">Resend Verification Email</button>
    </form>
    <p class="message">
        or update your <a href="{% url 'users:edit-profile' %}">profile settings</a>
    </p>
</div>
{% endblock %}
