{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <h3>
        You have successfully verified your email!
    </h3>
    <p class="message">
        You can now upload your files.
        {% if request.user.is_authenticated %}
            <a href="{% url 'storage:file-manager' %}">Upload your files...</a>
        {% else %}
            <a href="{% url 'users:login' %}">Log in.</a>
        {% endif %}
    </p>
</div>
{% endblock %}
