{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <p>
        Verification email has been sent to {{ request.user.email }}.
    </p>
    <p class="message">
        Please check your inbox.
    </p>
</div>
{% endblock %}
