{% load mjml %}

{% mjml %}
<mjml>
    <mj-body>
        <mj-container>
            <mj-section background-color="#FFFFFF">
                <mj-column>
                    <mj-text
                        align="center"
                        font-size="26"
                        font-family="Helvetica, Arial, sans-serif"
                        font-weight="normal"
                        color="#000000"
                        line-height="35px"
                        padding-bottom="25"
                    >
                        Verify your email
                    </mj-text>
                    <mj-text
                        align="center"
                        font-size="14"
                        font-family="Helvetica, Arial, sans-serif"
                        font-weight="normal"
                        color="#000000"
                        line-height="22px"
                        padding-bottom="25"
                    >
                        Hello {{ first_name }}, you need to verify your email before start using Cloud Archive.
                    </mj-text>
                    <mj-button
                            height="55px"
                            width="345px"
                            border-radius="8px"
                            background-color="#2196f3"
                            text-transform="uppercase"
                            font-family="Open Sans, Arial, sans-serif"
                            font-weight="bold"
                            padding-top="39"
                            padding-bottom="73"
                            inner-padding="0"
                    >
                        <a style="color: #FFFFFF; text-decoration: none; letter-spacing: 3px" href="{{ verification_email_url }}">verify your email</a>
                    </mj-button>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>
{% endmjml %}
