{% extends 'base_container.html' %}


{% block container_block %}
<form class="form" action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn" type="submit">Sign In</button>
    <p class="message">Not registered? <a href="{% url 'users:register' %}">Create an account</a></p>
    <p class="message"><a href="{% url 'users:password-reset' %}">Forgotten password?</a></p>
</form>
{% endblock %}
