{% extends 'base_container.html' %}


{% block container_block %}
<form class="form" action="" method="post">
    {% csrf_token %}
    {{ form }}
    <p class="message">
        Please specify your email address to receive instructions for resetting it.
    </p>
    <button class="btn" type="submit">Reset Password</button>
</form>
{% endblock %}
