{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <p>
        Your password has been set.
        You may go ahead and log in now.
    </p>
    <p><a href="{% url 'users:login' %}">Sign In</a></p>
</div>
{% endblock %}
