{% extends 'base_container.html' %}


{% block container_block %}
    {% if validlink %}
        <form class="form" action="" method="post">
            {% csrf_token %}
            <h4>Password Reset</h4>
            <p>
                Please enter your new password twice. So we can verify you typed it in correctly.
            </p>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2 }}
            <button class="btn" type="submit">Reset Password</button>
        </form>
    {% else %}
        <div class="form">
            <h4>Password reset unsuccessful</h4>
            <p>
                The password reset link was invalid,
                possibly because it has already been used.
                Please request a new password reset.
            </p>
        </div>
    {% endif %}
{% endblock %}