{% extends 'base_container.html' %}


{% block container_block %}
<div class="form">
    <p>
        We've e-mailed you instructions for setting your
        password to the e-mail address you submitted.
    </p>
    <p>You should be receiving it shortly.</p>
</div>
{% endblock %}
