{% extends 'base_container.html' %}


{% block container_block %}
<form class="form" action="{% url 'users:register' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn" type="submit">Sign Up</button>
    <p class="message">Already registered? <a href="{% url 'users:login' %}">Sign In</a></p>
</form>
{% endblock %}
