{% extends 'base.html' %}
{% load static %}


{% block static_block %}
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular-translate/angular-translate.min.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script>

<script src="{% static 'angular-filemanager/dist/angular-filemanager.min.js' %}"></script>
<script src="{% static 'js/file-manager-app.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/file-manager.css' %}" />
{% endblock %}


{% block body_block %}
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" href="{% url 'users:edit-profile' %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> SETTINGS
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'users:logout' %}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT
                    </a>
                </li>
          </ul>
        </div>
    </nav>
    <div class="ng-cloak" ng-app="FileManagerApp">
        <angular-filemanager></angular-filemanager>
    </div>
{% endblock %}
