body {
    background-color: #2196f3;
}

.base-container {
    width: 400px;
    padding: 1% 0 0;
    margin: auto;
}

.form {
    background: #FFFFFF;
    max-width: 100%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #2196f3;
}

.message, .helptext {
    display: block;
    margin: 15px 0;
    color: #b3b3b3;
    font-size: 12px;
}

.helptext li {
    list-style-type: none;
}

.message a {
    color: #2196f3;
    text-decoration: none;
}

.errorlist {
    padding: 0;
}

.errorlist li {
    margin: 15px 0 0;
    color: red;
    font-size: 12px;
    list-style-type: none;
}

.error {
    color: red;
}
